<!-- <h1>StaticPages#home</h1> -->
<!-- <p>Find me in app/views/static_pages/home.html.erb</p> -->
<!-- <div class="topicWrapper">
  <div class="form-inline well">
    <fieldset>
      <input type="text" class="input-medium" id="user_name">
      <input type="text" class="input-xlarge" id="message_topic">
      <button id="send_topic" class="btn btn-primary">Send</button>
    </fieldset>
  </div>
  <div id="topic" class="well" data-uri="<%= request.host %>:<%= request.port %>/websocket">
  </div>
</div>
 -->
<br><br>
 <div class="menko_input_field">
  <input type="checkbox" id="select1" checked="checked" />
  <span id="volume"></span>
  <span id='text_cursor'>|</span>
</div>

<div class="postWrapper">
  <div class="form-inline well">
    <fieldset>
      <input type="text" class="input-medium" id="user_name" placeholder='user_name'>
      <input type="text" class="input-xlarge" id="message_post" placeholder='本文'>
      <%= select :topic, :selection , topic_list.map{|a| a[:topic].title} %>
      <button id="send_post" class="btn btn-primary">Send</button>
    </fieldset>
  </div>
  <div id="posts" class="well" data-uri="<%= request.host %>:<%= request.port %>/websocket">
  </div>
  <div id="topics">

  </div>
  <br>
</div>

